
- provide(:title, "Home")


%link{:href => "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css", :rel => "stylesheet"}/
%script{:src => "http://code.jquery.com/jquery-1.9.1.js"}
%script{:src => "http://code.jquery.com/ui/1.10.3/jquery-ui.js"}

:javascript
  $(function() {
  $( "#tabs" ).tabs();
  });

- if signed_in?
  %div.row
    %aside.span4
      %section
        = render 'shared/user_info'
    
  .container
    .hero-unit
      / TODO: реализация и логика Tabs
      
      #tabs
        %ul
          %li
            %a{:href => "#tabs-1"} Facebook
          %li
            %a{:href => "#tabs-2"} LinkedIN
          %li
            %a{:href => "#tabs-3"} Twitter
          %li
            %a{:href => "#tabs-4"} VK
          %li
            %a{:href => "#tabs-5"} Tumblr
        
        #tabs-1
          = render 'shared/facebook_message_form'
        #tabs-2
          = render 'shared/linkedin_message_form'
        #tabs-3
          = render 'shared/twitter_message_form'
        #tabs-4
          = render 'shared/vkontakte_message_form'
        #tabs-5
          = render 'shared/tumblr_message_form'


- else
  %div.center.hero-unit
    
    %h2
      = link_to "Sign up", signup_path, class: "btn btn-large btn-primary"
      _ability_to_send_messages_through_networks_
      = link_to "Sign up", signup_path, class: "btn btn-large btn-primary"
      
  = link_to image_tag("social_poster.png", alt: "SocialPoster"), 'http://social-poster.herokuapp.com'

:javascript
  $('.textarea').wysihtml5();

