
- provide(:title, "Home")

- if signed_in?
  %div.row
    %aside.span4
      %section
        = render 'shared/user_info'
    
  .container
    .hero-unit
      
      / = render 'shared/message_form'
      
      = form_for @message, html: {name: "message_form"} do |f|
        = render 'shared/error_messages', object: f.object
        
        %div.field

        #content
        
          %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
            %li.active
              %a{"data-toggle" => "tab", href: "#facebook"} Facebook
            %li
              %a{"data-toggle" => "tab", href: "#linkedin"} LinkedIn
            %li
              %a{"data-toggle" => "tab", href: "#tumblr"} Tumblr
            %li
              %a{"data-toggle" => "tab", href: "#twitter"} Twitter
            %li
              %a{"data-toggle" => "tab", href: "#vkontakte"} Vkontakte
              
          #my-tab-content.tab-content
            #facebook.tab-pane.active
              = fields_for @message.facebook_message do |m|
                = m.text_area :text, placeholder: "compose new facebook message", class: "textarea", rows: "7"
            #linkedin.tab-pane
              = fields_for @message.linkedin_message do |m|
                = m.text_area :text, placeholder: "compose new linkedin message", class: "textarea", rows: "7"
            #tumblr.tab-pane
              = fields_for @message.tumblr_message do |m|
                = m.text_area :text, placeholder: "compose new tumblr message", class: "textarea", rows: "7"
            #twitter.tab-pane
              = fields_for @message.twitter_message do |m|
                = m.text_area :text, placeholder: "compose new twitter message", class: "textarea", rows: "7"
            #vkontakte.tab-pane
              = fields_for @message.vkontakte_message do |m|
                = m.text_area :text, placeholder: "compose new vkontakte message", class: "textarea", rows: "7"

        %button.link{onclick: "submit_message_form();", class: "btn btn-large btn-primary"} Post

- else
  
  = render file: "app/views/sessions/new"
  
  /%div.center.hero-unit
  /  
  /  %h2
  /    = link_to "Sign up", signup_path, class: "btn btn-large btn-primary"
  /    _ability_to_send_messages_through_networks_
  /    = link_to "Sign up", signup_path, class: "btn btn-large btn-primary"
  /    
  /= link_to image_tag("social_poster.png", alt: "SocialPoster"), 'http://social-poster.herokuapp.com'

:javascript
  $('.textarea').wysihtml5();

%script{src: "http://vk.com/js/api/openapi.js"}
