
- provide(:title, "Home")

- if signed_in?
  %div.row
    %aside.span4
      %section
        = render 'shared/user_info'
    
  .container
    .hero-unit
      
      / = render 'shared/message_form'
      
      = form_for(@message) do |f|
        = render 'shared/error_messages', object: f.object
        
        %div.field

        #content
        
          %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
            %li.active
              %a{"data-toggle" => "tab", href: "#red"} Red
            %li
              %a{"data-toggle" => "tab", href: "#orange"} Orange
            %li
              %a{"data-toggle" => "tab", href: "#yellow"} Yellow
            %li
              %a{"data-toggle" => "tab", href: "#green"} Green
            %li
              %a{"data-toggle" => "tab", href: "#blue"} Blue
              
          #my-tab-content.tab-content
            #red.tab-pane.active
              %h1 Red
              %p red red red red red red
              = fields_for @message.facebook_message do |m|
                = m.text_area :text, placeholder: "compose new facebook message", class: "textarea"
            #orange.tab-pane
              %h1 Orange
              %p orange orange orange orange orange
              = fields_for @message.facebook_message do |m|
                = m.text_area :text, placeholder: "compose new facebook message", class: "textarea"
            #yellow.tab-pane
              %h1 Yellow
              %p yellow yellow yellow yellow yellow
              = fields_for @message.facebook_message do |m|
                = m.text_area :text, placeholder: "compose new facebook message", class: "textarea"
            #green.tab-pane
              %h1 Green
              %p green green green green green
              = fields_for @message.facebook_message do |m|
                = m.text_area :text, placeholder: "compose new facebook message", class: "textarea"
            #blue.tab-pane
              %h1 Blue
              %p blue blue blue blue blue
              = fields_for @message.facebook_message do |m|
                = m.text_area :text, placeholder: "compose new facebook message", class: "textarea"
              
        = f.submit "Post", class: "btn btn-large btn-primary"

- else
  %div.center.hero-unit
    
    %h2
      = link_to "Sign up", signup_path, class: "btn btn-large btn-primary"
      _ability_to_send_messages_through_networks_
      = link_to "Sign up", signup_path, class: "btn btn-large btn-primary"
      
  = link_to image_tag("social_poster.png", alt: "SocialPoster"), 'http://social-poster.herokuapp.com'

:javascript
  $('.textarea').wysihtml5();

