
/ = javascript_include_tag "init_vk_openapi"

/ = javascript_include_tag "init_vk"

= javascript_include_tag "http://vk.com/js/api/openapi.js"

#login_button{onclick: "VK.Auth.login(authInfo);"}
#wall_post{onclick: "wall_post();"}
/ #wall_post{onclick: "VK.Auth.login(authInfo);"}

:javascript
  VK.init({
    apiId: 3756304
  });
  function authInfo(response) {
    if (response.session) {
      alert('user: '+response.session.mid);
    } else {
      alert('not auth');
    }
  }
  function wall_post()
  {
    console.log('wall_post');
    
    VK.Api.call('users.get', {uids: 6492, fields: 'sex,photo_big'},
     function(r) {
      if(r.response) {
        alert('Привет, ' + r.response[0].first_name);
        console.log(r.response);
      }
      else {
        alert(123123);
      }
    });
  }
  
  VK.Auth.getLoginStatus(authInfo);
  VK.UI.button('login_button');
  VK.UI.button('wall_post');


%h1 Messages#create
%p Find me in app/views/messages/create.html.haml

%section.container
  .span8
    = if @message.facebook_message
      %h3=@message.facebook_message.text
      
    = if @message.linkedin_message
      %h3=@message.linkedin_message.text
      
    = if @message.vkontakte_message
      %h3=@message.vkontakte_message.text
      
    = if @message.tumblr_message
      %h3=@message.tumblr_message.text
      
    = if @message.twitter_message
      %h3=@message.twitter_message.text