
/ TODO: form_for(@message)?

= form_tag(messages_path) do

  / = render 'shared/error_messages', object: f.object
 
  %div.field
    = text_area_tag "facebook_text", nil, class: "textarea", placeholder: "compose new facebook message"
    = text_area_tag "linkedin_text", nil, class: "textarea", placeholder: "compose new linkedin message"
    = text_area_tag "tumblr_text", nil, class: "textarea", placeholder: "compose new tumblr message"
    = text_area_tag "twitter_text", nil, class: "textarea", placeholder: "compose new twitter message"
    = text_area_tag "vkontakte_text", nil, class: "textarea", placeholder: "compose new vkontakte message"
    
  = submit_tag "Post", class: "btn btn-large btn-primary"
