
= form_for(@message) do |f|

  = render 'shared/error_messages', object: f.object
  
  %div.field
    = fields_for @message.facebook_message do |m|
      = m.text_area :text, placeholder: "compose new facebook message", class: "textarea"
    
    = fields_for @message.linkedin_message do |m|
      = m.text_area :text, placeholder: "compose new linkedin message", class: "textarea"
    
    = fields_for @message.tumblr_message do |m|
      = m.text_area :text, placeholder: "compose new tumblr message", class: "textarea"
    
    = fields_for @message.twitter_message do |m|
      = m.text_area :text, placeholder: "compose new twitter message", class: "textarea"
    
    = fields_for @message.vkontakte_message do |m|
      = m.text_area :text, placeholder: "compose new vkontakte message", class: "textarea"
    
  = f.submit "Post", class: "btn btn-large btn-primary"
