
= form_for(@message) do |f|

  = render 'shared/error_messages', object: f.object
  
  / TODO: fields_for
  
  %div.field
    = f.text_area :facebook_message, placeholder: "compose new facebook message", class: "textarea"
    = f.text_area :linkedin_message, placeholder: "compose new linkedin message", class: "textarea"
    = f.text_area :tumblr_message, placeholder: "compose new tumblr message", class: "textarea"
    = f.text_area :twitter_message, placeholder: "compose new twitter message", class: "textarea"
    = f.text_area :vkontakte_message, placeholder: "compose new vkontakte message", class: "textarea"
    
    
  = f.submit "Post", class: "btn btn-large btn-primary"
