
%a{ href: "#{user_path(current_user)}" }
  #{ gravatar_for current_user }

%h1
  = current_user.name

%span
  = link_to "view profile", current_user
%span
  = link_to "view providers", authorise_path

%span
  = pluralize(current_user.messages.count, "message")
%span
  = pluralize(current_user.authorisations.count, "authorisation")
