
%a{ href: "#{user_path(current_user)}" }
  #{ gravatar_for current_user }

%h1
  = current_user.name

%span
  = link_to "view profile", current_user
%span
  = link_to "view providers", authorise_path

- if @user.authorisations.any?
  %h3 Authorisations #{ current_user.authorisations.count }
  %ol.authorisations
    = render current_user.authorisations

%span
  = pluralize(current_user.messages.count, "message")
%span
  = pluralize(current_user.authorisations.count, "authorisation")
